blockquote {
    margin-left: 0;

    p {
        margin: 0;
        padding: 1em;
        font-style: italic;
      
        border-left: 0.3em solid gray;
        background-color: #f4f4f4;
    }
}

.post-header__title {
    font-weight: 700;
}
.post-header__date {
    font-size: smaller;
    font-weight: 300;
    text-align: right;
}
.post-toc {
    
}